services:
  api:
    build: .
    ports:
      - "8080:8080"
      - "5678:5678"
    volumes:
      - .:/app
    environment:
      - OPENAI_API_KEY=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
