services:
  api:
    build: .
    ports:
      - "8080:8080"
      - "5678:5678"
    volumes:
      - .:/app
    environment:
      - OPENAI_API_KEY=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
